#UrlInput{
	width:40%;
}
#url{
	font-size: 35px;
}
#addButton{
	font-size:30px;
	background-color:green;
}
#tableHeading
{
	font-size:30px;
}
#tableInput
{
	font-size:30px;
}
#resultPanel{
	font-size:22px;
	height: 430px;
}
#largeResultPanel{
	font-size:22px;
}
.panel-body{
	background:#f7b220;

}
#simpleProgress{
	text-align: right;
	font-size: 30px;
}
#dataChart{
	height: 300px;
	width: 580px;
	/* background:#F78E05; */
}
#collapse1{
	padding: 20px;
}

.fa{
	font-size:12px;
} 
table{
	width:100%;
	text-align: left;
}
.fa:hover{
	cursor:pointer;
	color:gray;
}
.date{
	width: 80%;
}